
label { 
	display: inline-block;
	font-size:inherit;
}

ul.inline li {
	padding: 0;
	margin : 0;
}

#page ul.inline li {
	margin-left: 0;
}

#page table th !important{
	background-color: none;
	color: inherit;
}

.table {width:100%;}





