<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <!--Body content-->
<p>ID: {{movie.ID}}</p>
<p>Title : {{movie.Title}}<p>
<p>Movie Date: {{movie.MovieDate}}</p>
<p>Lyricist: {{movie.Lyricist}}</p>
<p>Composer: {{movie.Composer}}</p>
<p>Published : {{movie.Published}}</p>
<p>Studio : {{movie.Studio}}</p>
<p>Notes: {{movie.Notes}}</p>
<p>Songs</p>
<ul>
  <li ng-repeat="Song in movie.Songs| orderBy:'Title' "> 
  <a href="#/songs/{{Song.ID}}">{{Song.Title}}</a>
  </li>
</ul>
<p>Holdings</p>
<ul>
  <li ng-repeat="Holding in movie.Holdings">
    {{Holding.Name}}
  </li>
</ul>

    </div>
  </div>
</div>
