<h2> Johnny Mercer Song Database </h2>

<form class="form-search" method="GET" action="{{@root}}/discography/search">
  <input type="text" class="search-query input-large" name="q" placeholder="Keyword Search for songs" />
   <button type="submit" class="btn">Search</button>
</form>

<ul class="inline">
  <li><a href="{{@root}}/discography/browse/a">A</a></li>
  <li><a href="{{@root}}/discography/browse/b">B</a></li>
  <li><a href="{{@root}}/discography/browse/c">C</a></li>
  <li><a href="{{@root}}/discography/browse/d">D</a></li>
  <li><a href="{{@root}}/discography/browse/e">E</a></li>
  <li><a href="{{@root}}/discography/browse/f">F</a></li>
  <li><a href="{{@root}}/discography/browse/g">G</a></li>
  <li><a href="{{@root}}/discography/browse/h">H</a></li>
  <li><a href="{{@root}}/discography/browse/i">I</a></li>
  <li><a href="{{@root}}/discography/browse/j">J</a></li>
  <li><a href="{{@root}}/discography/browse/k">K</a></li>
  <li><a href="{{@root}}/discography/browse/l">L</a></li>
  <li><a href="{{@root}}/discography/browse/m">M</a></li>
  <li><a href="{{@root}}/discography/browse/n">N</a></li>
  <li><a href="{{@root}}/discography/browse/o">O</a></li>
  <li><a href="{{@root}}/discography/browse/p">P</a></li>
  <li><a href="{{@root}}/discography/browse/q">Q</a></li>
  <li><a href="{{@root}}/discography/browse/r">R</a></li>
  <li><a href="{{@root}}/discography/browse/s">S</a></li>
  <li><a href="{{@root}}/discography/browse/t">T</a></li>
  <li><a href="{{@root}}/discography/browse/u">U</a></li>
  <li><a href="{{@root}}/discography/browse/v">V</a></li>
  <li><a href="{{@root}}/discography/browse/w">W</a></li>
  <li><a href="{{@root}}/discography/browse/x">X</a></li>
  <li><a href="{{@root}}/discography/browse/y">Y</a></li>
  <li><a href="{{@root}}/discography/browse/z">Z</a></li>
</ul>
<hr>


