<div >
  <dl class="dl-horizontal">
    <dt>Movie Title</dt>
    <dd>{{isset(@data->Title)? @data->Title : "Title Not Known"}}</dd>
  	<dt>Lyricist</dt>
  	<dd>{{@data->Lyricist}}</dd>
  	<dt>Composer</dt>
  	<dd>{{@data->Composer}}</dd>
  	<dt>Date</dt>
  	<dd>{{@data->MovieDate}}</dd>
  	<dt>Studio</dt>
  	<dd>{{@data->Studio}}</dd>
  	<check if="{{@data->Holdings}}">
  		<dt>GSU has</dt>
  		<dd>
  				<repeat group="{{@data->Holdings}}" value="{{@holding}}">
  					<p>{{@holding->Name}}</p>
  				</repeat>
  		</dd>
  	</check>
  	<check if="{{@data->Songs}}">
  		<dt>Songs</dt>
  		<dd>
  				<repeat group="{{@data->Songs}}" value="{{@song}}">
  					<p><a href="{{@root}}/song/{{@song->ID}}">{{@song->Title}}</a></p>
  				</repeat>
  		</dd>
  	</check>	
  </dl>
</div>
