<h3>Browse Shows</h3>
<p>
	<repeat group="{{@data}}" value="{{@show}}">
			<h4><a href="{{@root}}/show/{{@show->ID}}">{{@show->Title}}</a></h4>
				<ul class="unstyled">
				<check if="{{@show->Lyricist}}">				
					<li><b>Lyricist</b> : {{@show->Lyricist}}</li>
				</check>
				<check if="{{@show->Composer}}">				
					<li><b>Composer</b> : {{@show->Composer}}</li>
				</check>
				<check if="{{@show->ShowDate}}">				
					<li><b>Date</b> : {{@show->ShowDate}}</li>
				</check>
				</ul>
	</repeat>
</p>