<div >
  <dl class="dl-horizontal">
    <dt>Show Title</dt>
    <dd> {{isset(@data->Title)? @data->Title : "Title Not Known"}} </dd>
    <check if="{{@data->Lyricist}}">
      <dt>Lyricist</dt>
  	  <dd>{{@data->Lyricist}}</dd>
    </check>
    <check if="{{@data->Composer}}">
    <dt>Composer</dt>
  	<dd>{{@data->Composer}}</dd>
    </check>
    <check if="{{@data->ShowDate}}">
  	<dt>Date</dt>
  	<dd>{{@data->ShowDate}}</dd>
    </check>
  	<check if="{{@data->Notes}}">
  		<dt>Notes</dt>
  		<dd>{{@data->Notes}}</dd>
  	</check>
  	<check if="{{@data->PerformanceNotes}}">
  		<dt>Performance Notes</dt>
  		<dd>{{@data->PerformanceNotes}}</dd>
  	</check>
  	<check if="{{@data->Holdings}}">
  		<dt>GSU has</dt>
  		<dd>
  				<repeat group="{{@data->Holdings}}" value="{{@holding}}">
  					<p>{{@holding->Name}}</p>
  				</repeat>
  		</dd>
  	</check>
  	<check if="{{@data->Songs}}">
  		<dt>Songs</dt>
  		<dd>
  				<repeat group="{{@data->Songs}}" value="{{@song}}">
  					<p><a href="{{@root}}/song/{{@song->ID}}">{{@song->Title}}</a></p>
  				</repeat>
  		</dd>
  	</check>	
  </dl>
</div>
