<div >
  <h4></h4>
  <dl>
    <dt>Song Title</dt>
    <dd>{{isset(@data->Title)? @data->Title : "Title Not Known"}}</dd>
  	<check if="{{@data->AlternateTitles}}">
  	  <dt>Alternate Titles</dt>
  		  <repeat group="{{@data->AlternateTitles}}" value="{{@title}}">
  		    <p>{{@title->Title}}</p>
  		  </repeat>
  	  </dd>
  	</check>
    <dt>Lyricist</dt>
    <dd>{{@data->Lyricist}}</dd>
    <dt>Composer</dt>
    <dd>{{@data->Composer}}</dd>
    <check if="{{@data->Movies}}">
      <dt>Movies</dt>
      <dd>
      	  <repeat group="{{@data->Movies}}" value="@movie">
      	    <p><a href="{{@root}}/movie/{{@movie->ID}}">{{@movie->Title}}</a></p>
      	  </repeat>
      </dd>
    </check>
    <check if="{{@data->Shows}}">
      <dt>Shows</dt>
      <dd>
      	  <repeat group="{{@data->Shows}}" value="@show">
      	    <p><a href="{{@root}}/show/{{@show->ID}}">{{@show->Title}}</a></p>
      	  </repeat>
      </dd>
    </check>
    <dt>Date</dt>
    <dd>{{@data->Copyright}}</dd>
    <check if="{{@data->Citations}}">
    	<dt>Citations</dt>
    	<dd>
    		<repeat group="{{@data->Citations}}" value="{{@citation}}">
    			<p>{{@citation->Shortname}}</p>
    		</repeat>
    	</dd>
    </check>
    <check if="{{@data->Holdings}}">
    	<dt>GSU has</dt>
    	<dd>
    			<repeat group="{{@data->Holdings}}" value="{{@holding}}">
    				<p>{{@holding->name}}</p>
    			</repeat>
    	</dd>
    </check>
    <check if="{{@data->Notes}}">
    	<dt>Notes</dt>
    	<dd>{{@data->Notes}}</dd>
    </check>
  </dl>
</div>
