<h2> Johnny Mercer Song Database </h2>

<form class="form-search" method="GET" action="{{@root}}/song/search">
  <input type="text" class="search-query input-large" name="q" placeholder="Keyword Search" />
   <button type="submit" class="btn">Search for songs</button>
</form>
<h4>Browse Songs Alphabetically</h4>
<ul class="inline">
  <li><a href="{{@root}}/song/browse/a">A</a></li>
  <li><a href="{{@root}}/song/browse/b">B</a></li>
  <li><a href="{{@root}}/song/browse/c">C</a></li>
  <li><a href="{{@root}}/song/browse/d">D</a></li>
  <li><a href="{{@root}}/song/browse/e">E</a></li>
  <li><a href="{{@root}}/song/browse/f">F</a></li>
  <li><a href="{{@root}}/song/browse/g">G</a></li>
  <li><a href="{{@root}}/song/browse/h">H</a></li>
  <li><a href="{{@root}}/song/browse/i">I</a></li>
  <li><a href="{{@root}}/song/browse/j">J</a></li>
  <li><a href="{{@root}}/song/browse/k">K</a></li>
  <li><a href="{{@root}}/song/browse/l">L</a></li>
  <li><a href="{{@root}}/song/browse/m">M</a></li>
  <li><a href="{{@root}}/song/browse/n">N</a></li>
  <li><a href="{{@root}}/song/browse/o">O</a></li>
  <li><a href="{{@root}}/song/browse/p">P</a></li>
  <li><a href="{{@root}}/song/browse/q">Q</a></li>
  <li><a href="{{@root}}/song/browse/r">R</a></li>
  <li><a href="{{@root}}/song/browse/s">S</a></li>
  <li><a href="{{@root}}/song/browse/t">T</a></li>
  <li><a href="{{@root}}/song/browse/u">U</a></li>
  <li><a href="{{@root}}/song/browse/v">V</a></li>
  <li><a href="{{@root}}/song/browse/w">W</a></li>
  <li><a href="{{@root}}/song/browse/x">X</a></li>
  <li><a href="{{@root}}/song/browse/y">Y</a></li>
  <li><a href="{{@root}}/song/browse/z">Z</a></li>
</ul>
<ul class="nav nav-pills">
  <li>
    <a href="{{@root}}/movie/browse">Browse by Movie Title</a>
  </li>
  <li>
    <a href="{{@root}}/show/browse">Browse by Show Title</a>
  </li>
</ul>

